<h1>Stupid Coaching</h1>
<h2>Ask Your stupid coach something</h2>
<form action="/answer" method= "get" id="form">
  <input type="text" name="question" placeholder="What is your question">
  <button type="submit" class="btn btn-primary mb-2">Ask</button>
</form>



